VERSION="{{ version }}"
RHN_PARENT="{{ spacewalk_hostname }}"
TRACEBACK_EMAIL="{{ spacewalk_admin_email }}"
USE_SSL="{{ use_ssl }}"
CA_CHAIN="{{ ca_chain }}"
SSL_CNAME_ASK="{{ ssl_cname_ask }}"
SSL_ORG="{{ ssl_org }}"
SSL_ORGUNIT="{{ ssl_orgunit }}"
SSL_COMMON="{{ ssl_common }}"
SSL_CITY="{{ ssl_city }}"
SSL_STATE="{{ ssl_state }}"
SSL_COUNTRY="{{ ssl_country }}"
SSL_EMAIL="{{ spacewalk_admin_email }}"
SSL_PASSWORD="{{ ssl_password }}"
POPULATE_CONFIG_CHANNEL="{{ populate_config_channel }}"
INSTALL_MONITORING="{{ install_monitoring }}"
ENABLE_SCOUT="{{ enable_scout }}"
START_SERVICES="{{ start_services }}"
HTTP_PROXY="{{ http_proxy }}"
HTTP_USERNAME="{{ http_username }}"
HTTP_PASSWORD="{{ http_password }}"
USERNAME="{{ user }}"
PASSWORD="{{ password }}"
