# {{ ansible_managed }}
admin-email = {{ spacewalk_admin_email }}
ssl-set-org = {{ spacewalk_ssl_org }}
ssl-set-org-unit = {{ spacewalk_ssl_org_unit }}
ssl-set-city = {{ spacewalk_ssl_set_city }}
ssl-set-state = {{ spacewalk_ssl_set_state }}
ssl-set-country = {{ spacewalk_ssl_set_country }}
ssl-password = {{ spacewalk_ssl_password }}
ssl-set-email = {{ spacewalk_ssl_set_email }}
ssl-config-sslvhost = {{ spacewalk_ssl_config_sslvhost }}
db-backend = {{ spacewalk_db_backend }}
db-name = {{ spacewalk_db_name }}
db-user = {{ spacewalk_db_user }}
db-password = {{ spacewalk_db_password }}
db-host = {{ spacewalk_db_host }}
db-port = {{ spacewalk_db_port }}
enable-tftp = {{ spacewalk_enable_tftp }}
